/* slick- style */
.slick-slide{
  margin: 5px;
}


/* arrows style */
.slick-prev, .slick-next {
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #0056b3;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}